<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Funcionário | MindEase</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/perfilFuncionario.css') }}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../static/images/logo.png" alt="MindEase">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo"><a href="{{ url_for('perfil_funcionario') }}"><img src="../static/images/logo.png" alt="MindEase"></a></div>
            <div class="menu-container">
                <ul>
                    <li><a href={{ url_for('tela_funcionario') }} class="nav-link"><b>Encontre Seu Psicológo</b></a></li>
                    <li><a href={{ url_for('consultas') }} class="nav-link"><b>Consultas</b></a></li>
                    <li><a href={{ url_for('chat_conversas') }} class="nav-link"><b>Chat</b></a></li>
                    <li><a href={{ url_for('perfil_funcionario') }} class="nav-link perfil-icon"><img src="../static/images/perfil-icon.png" alt="icon"></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="profile-page">
        <section class="profile-header">
            <img src="../static/images/funcionaria-fernanda.jpg" alt="Imagem funcionária" class="img-funcionario">
            <div class="profile-info">
                <h2 class="funcionario-name">Fernanda Guimarães</h2>
                <p class="empresa">NTT Data</p>
            </div>
            <button class="edit-profile-btn">Editar perfil</button>
        </section>

        <section class="profile-details">
            <div class="detail-card">
                <p class="detail-title">E-mail corporativo</p>
                <p class="detail-info">fernanda.guimaraes@nttdata.com</p>
            </div>

            <div class="detail-card">
                <p class="detail-title">Cargo</p>
                <p class="detail-info">Analista de Marketing</p>
            </div>

            <div class="detail-card">
                <p class="detail-title">CPF</p>
                <p class="detail-info">135.559.654-84</p>
            </div>
            <div class="detail-card">
                <p class="detail-title">Sessões realizadas</p>
                <p class="detail-info">8</p>
            </div>
        </section>
    </main>
</body>

</html>
