<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Lista de Funcionários</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.sobrenome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
