<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Psicólogos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Psicólogos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Completo</th>
                <th>Email</th>
                <th>CRP</th>
                <th>Especialidade</th>
                <th>Abordagem</th>
            </tr>
        </thead>
        <tbody>
            {% for psicologo in psicologos %}
                <tr>
                    <td>{{ psicologo.id }}</td>
                    <td>{{ psicologo.nome_completo }}</td>
                    <td>{{ psicologo.email }}</td>
                    <td>{{ psicologo.crp }}</td>
                    <td>{{ psicologo.especialidade }}</td>
                    <td>{{ psicologo.abordagem }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
